
/*联系我们*/
.aboutMe{
    margin:20px 16.5px 0px 16.5px;

}

.aboutMe h3{
    text-align: center;
}

.about_title{
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    color: #989898;
    text-align: center !important;
}

.aboutMe p{
    text-indent: 2em;
    line-height: 26px;
    padding-bottom: 29px;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #565656;
    text-align: left;
}

#jobform{
	height:400px;
	margin-left:200px;
	margin-top:25px; 
}

#jobform label{
	display:inline-block;
	width:70px;
	text-align: right;
	margin-top:15px;
}

#jobform input{
	width:200px;
	height:20px;
	height:22px;
	text-align: center;
}

#jobform select{
	width:200px;
	text-align: center;
}

#jobform textarea{
	display:inline-block;
	text-align:rignt;
	margin-top:15px;
	height:120px;
	width:200px;
}

#submit{
	margin-top:30px;
	margin-left:76px; 
	text-align:center;
}

