<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.DataDictionaryMapper">

	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true" />	
	
	<select id="findDataDictionary"  parameterType="DataDictionary" resultType="DataDictionary">
		select id,type,description from datadictionary
		<trim prefix="where">
			<if test="type!=null">
				type=#{type }
			</if>
		</trim>
	</select>
	
	
	<update id="updateDataDictionary" parameterType="DataDictionary">
		update datadictionary set description=#{description}
		<where>
			<if test="type!=null">
				type=#{type}
			</if>
		</where>
	</update>
	
</mapper>