<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.yc.mapper.JobdetailsMapper">
	<cache></cache>
			<!--  <cache type="com.yc.dao.redis.cache.RedisCache"></cache> -->
			<!-- D:\安装软件\redis\安装文件\windows版\32bit -->
 	<!-- 查询 -->
 	<select id="selectJobdetails" parameterType="Jobdetails" resultType="Jobdetails">
 	<![CDATA[select jd_id,jd_pic,jd_name,jd_salary,date_format(jd_emptime,'%Y-%m-%d')jd_emptime,jd_company,jd_school,jd_profession from jobdetails where 1=1]]>
 	<choose>
 	<when test="jd_name!=null" >
 	and jd_name=#{jd_name} 
 	</when>
 	<when test="jd_id!=null" >
 	and jd_id=#{jd_id} 
 	</when>
 	<when test="jd_salary!=null">
	 and jd_salary=#{jd_salary} 
 	</when>
 	<when test="jd_emptime!=null">
	 and jd_emptime=#{jd_emptime} 
 	</when>
 	<when test="jd_profession!=null">
	 and jd_profession=#{jd_profession} 
 	</when>
	<otherwise></otherwise>
 	</choose>
	<!-- order by p_id asc limit ${start},${end}  --> 
 	</select>
	
 	<!-- 添加-->
	<insert id="insertJobdetails" parameterType="Jobdetails" >
 insert into jobdetails(jd_pic,jd_name,jd_salary,jd_emptime,jd_company,jd_school,jd_profession) 
 values(#{jd_pic},#{jd_name},#{jd_salary},#{jd_emptime},#{jd_company},#{jd_school},#{jd_profession})
	</insert>

	<!-- 删除 -->
	<delete id="deleteJobdetails" parameterType="Jobdetails" >
	delete from jobdetails where jp_id=#{jp_id} 
	<choose>
 	<when test="jd_name!=null" >
 	and jd_name=#{jd_name} 
 	</when>
 	<when test="jd_emptime!=null">
	 and jd_emptime=#{jd_emptime} 
 	</when>
 	<when test="jd_profession!=null">
	 and jd_profession=#{jd_profession} 
 	</when>
	<otherwise></otherwise>
 	</choose>
 	</delete>
 	
 	<!-- 修改 -->
 	<update id="updateJobdetails" parameterType="Jobdetails">
 	update jobdetails set jd_id=#{jd_id}
 	<if test="jd_name!=null">
 	,jd_name=#{jd_name}
 	</if>
 	 <if test="jd_pic!=null">
 	,jd_pic=#{jd_pic}
 	</if>
 	 <if test="jd_salary!=null">
 	,jd_salary=#{jd_salary}
 	</if>
 	 <if test="jd_emptime!=null">
 	,jd_emptime=#{jd_emptime}
 	</if>
 	<if test="jd_company!=null">
 	,jd_company=#{jd_company}
 	</if>
 	<if test="jd_school!=null">
 	,jd_school=#{jd_school}
 	</if>
 	<if test="jd_profession!=null">
 	,jd_profession=#{jd_profession}
 	</if>
 	 where jd_id=#{jd_id}
 	</update>
	</mapper>