<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.OpenClassMapper">

	<!-- 查询课程体系 -->
	<select id="selectOpenCls" parameterType="OpenClass" resultType="OpenClass">
		select oc_id,oc_name,date_format(oc_time,'%Y-%m-%d') oc_time,oc_pic,oc_status from openclass
		<trim prefix="where" suffixOverrides="and">
			<if test="oc_id>0">
				oc_id=#{oc_id} and
			</if>
			<if test="oc_name!=null">
				oc_name=#{oc_name} and
			</if>
			<if test="oc_time!=null">
				oc_time=#{oc_time} and
			</if>
		</trim>
		order by oc_id desc
		<if test="start!=null and offset!=null">
				limit #{start},#{offset}
		</if>
	</select>
	<!-- 添加-->
	<insert id="insertOpenCls" parameterType="OpenClass" useGeneratedKeys="true" keyProperty="oc_id">
		insert into openclass(oc_name,oc_time,oc_pic,oc_status) values(#{oc_name},#{oc_time},#{oc_pic},#{oc_status})
	</insert>
	<!-- 修改 -->
	<update id="updateOpenCls" parameterType="OpenClass">
		update openclass set oc_id=#{oc_id} 
		<if test="oc_name!=null">
			,oc_name=#{oc_name}
		</if>
		<if test="oc_pic!=null">
			,oc_pic=#{oc_pic}
		</if>
		<if test="oc_time!=null">
			,oc_time=#{oc_time}
		</if>
		<if test="oc_status!=null">
			,oc_status=#{oc_status}
		</if>
		where oc_id=#{oc_id}
	</update>
	<!-- 删除 -->
	<delete id="deleteOpenCls" parameterType="OpenClass">
		delete from openclass where oc_id=#{oc_id}
	</delete>
	<!-- 查询是否存在所查记录  -->
	<select id="judge" parameterType="OpenClass" resultType="OpenClass">
		select oc_id,oc_name,oc_time,oc_pic from openclass
		<trim prefix="where" suffixOverrides="and">
			<if test="oc_id>0">
				oc_id=#{oc_id} and
			</if>
			<if test="oc_name!=null">
				oc_name=#{oc_name} and
			</if>
		</trim>
		limit 1; 
	</select>
	<!-- 查询记录总数 -->
	<select id="findtotal" resultType="java.lang.Double">
		select count(*) from coursys
	</select>
</mapper>