<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.yc.mapper.ProjectsMapper">
	<cache></cache>
			<!--  <cache type="com.yc.dao.redis.cache.RedisCache"></cache> -->
			<!-- D:\安装软件\redis\安装文件\windows版\32bit -->
 	<!-- 查询 -->
 	<select id="selectProjects" parameterType="Projects" resultType="Projects">
	select p_id,p_name,p_pic,p_developer,date_format(p_time,'%Y-%m-%d') p_time,p_addr from projects
 	<trim prefix="where" suffixOverrides="and">
	<if test="p_name!=null">
 	p_name=#{p_name} and 
 	</if>
 	<if test="p_time!=null">
	p_time>#{p_time } and 
	</if>
	<if test="p_addr!=null">
 	p_addr=#{p_addr}  and 
 	</if>
 	</trim>
	order by p_id desc
	<if test="start!=null and offset!=null">
	 limit ${start},${offset}
	 </if>
 	</select>
	
 	<!-- 添加-->
	<insert id="insertProjects" parameterType="Projects" >
	insert into projects(p_name,p_pic,p_developer,p_time,p_addr) values(#{p_name},#{p_pic},#{p_developer},#{p_time},#{p_addr});
	</insert>

	<!-- 删除 -->
	<delete id="deleteProjects" parameterType="Projects" >
	delete from projects where p_id=#{p_id} 
	<choose>
 	<when test="p_name!=null" >
 	and p_name=#{p_name} 
 	</when>
 	<when test="p_time!=null">
	 and p_time=#{p_time} 
 	</when>
 	<when test="p_developer!=null">
	 and p_developer=#{p_developer} 
 	</when>
	<otherwise></otherwise>
 	</choose>
 	</delete>
 	
 	<!-- 修改 -->
 	<update id="updateProjects" parameterType="Projects">
 	update projects set p_id=#{p_id}
 	<if test="p_name!=null">
 	,p_name=#{p_name}
 	</if>
 	 <if test="p_pic!=null">
 	,p_pic=#{p_pic}
 	</if>
 	 <if test="p_developer!=null">
 	,p_developer=#{p_developer}
 	</if>
 	 <if test="p_time!=null">
 	,p_time=#{p_time}
 	</if>
 	<if test="p_addr!=null">
 	,p_addr=#{p_addr}
 	</if>
 	 where p_id=#{p_id}
 	</update>
 	
 	<!-- 查询记录数 -->
	<select id="countProjects" parameterType="Projects" resultType="java.lang.Double">
		select count(*) from projects
		<trim prefix="where" suffixOverrides="and">
			<if test="p_time!=null">
			 p_time>#{p_time } and 
			</if>
			<if test="p_addr!=null">
 			  p_addr=#{p_addr} and
 			</if>
 			<if test="p_name!=null">
 	 		p_name=#{p_name} and 
 	</if>
		</trim>
	</select>
	</mapper>