<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.StudentsMapper">

	<!-- 查询学生报名信息 -->
	<select id="selectStudents" parameterType="Students" resultType="Students">
		select s_id,s_name,s_tel,s_direction,s_status,date_format(s_date,'%Y-%m-%d') s_date from students
		<trim prefix="where" suffixOverrides="and">
			<if test="s_id>0">
				s_id = #{s_id} and
			</if>
			<if test="s_ids>0">
				s_id int #{s_ids} and
			</if>
			<if test="s_name!=null">
				s_name=#{s_name} and
			</if>
			<if test="s_status>=0">
				s_status=#{s_status} and
			</if>
			<if test="s_direction!=null">
				s_direction=#{s_direction} and
			</if>
			<if test="s_date!=null">
				s_date=#{s_date} and
			</if>
		</trim>
		order by s_date desc
		<if test="start!=null and offset!=null">
				limit #{start},#{offset}
		</if>
	</select>
	<!-- 查询记录总数 -->
	<select id="findtotal" resultType="java.lang.Double">
		select count(*) from students
	</select>
	<!-- 添加一条学生信息 -->
	<insert id="addOneStudent" parameterType="Students" useGeneratedKeys="true" keyProperty="s_id">
		insert into students(s_name,s_tel,s_direction,s_status,s_date) values(#{s_name},#{s_tel},#{s_direction},#{s_status},curdate())
	</insert>
	<!-- 删除一条学生信息 -->
	<delete id="deleteOneStudent" parameterType="Students">
		delete from students where s_id=#{s_id}
	</delete>
	<!-- 修改一条学生信息 -->
	<update id="updateOneStudent" parameterType="Students">
		update students set s_status=#{s_status}
		<trim prefix="where" suffixOverrides="and">
			<if test="s_id>0">
				s_id = #{s_id} and
			</if>
			<if test="s_ids>0">
				s_id in #{s_ids} and
			</if>
		</trim>
	</update>
</mapper>